header{
    background-color: #9C27B0; /*DARK #7B1FA2*/
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 1px 5px #000;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
}

header h1{
    font-size: 1.2em;
    padding-left: 2em;
}

header .logoutIcon{
    padding-right: 2em;
    cursor: pointer;
}