.contPrd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
}

.contPrd .contImgPrd{
    position: relative;
}

.contPrd .contImgPrd .precioPrd{
    position: absolute;
    background-color: #448AFF;
    padding: 0.3em 2em;
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
    box-shadow: 1px 3px 5px #000;
    top: 71%;
    left: calc(50vw - 193px);
}

.contPrd .contImgPrd img{
    box-shadow: 1px 3px 5px #000;
    width: 85vw;
}

.contPrd .contTextoPrd{
    padding: 1em;
}

.contPrd .contTextoPrd h3{
    margin: 0.5em 0px;
}

/*************************************************************************/
@media(min-width: 415px) /* Tabletas */
{
    .contPrd{
        max-width: 40vw;
    }

    .contPrd .contImgPrd .precioPrd{
        padding: 0.5em 2em;
        font-size: 1em;
        left: calc(50vw - 400px);
    }

    .contPrd .contImgPrd img{
        width: 35vw;
    }

    .contPrd .contTextoPrd h3{
        margin: 0.2em 0px;
    }

    .contPrd .contTextoPrd .textoPrd{
        font-size: 1.2em;
    }

    .contPrd .contTextoPrd .textoPrd p{
        margin-bottom: 0px;
    }
}

/*************************************************************************/
@media(min-width: 1024px) /* Ordenador */
{
    .contPrd .contImgPrd .precioPrd{
        padding: 0.7em 2em;
        font-size: 1.4em;
        /* top: 157.891px; */
        top: 65%;
        left: -38px;
    }
}
